{% extends 'base.html' %}
{% block title %}Create Number Element{% endblock %}

{% block content %}
<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{% url 'element_list' %}">My Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Element</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <h4>Create Element</h4>

            <form method="POST">
                {% csrf_token %}
                {% include 'elements/user_element_form.html' %}

                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary form-control" name="action" value="create">Create</button>
                </div>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>


</div>
{% endblock %}
