<!-- Button trigger modal -->
<button type="button" class="btn btn-danger form-control" data-toggle="modal" data-target="#exampleModal">
    <i class="fa fa-trash"></i> Delete
</button>

<form method="post">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <input type="hidden" value="{{ element.pk }}" name="element_id">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="action" value="delete">Delete element</button>
                </div>
            </div>
        </div>
    </div>
</form>
