{% extends 'base.html' %}
{% block title %}Edit Text Element{% endblock %}

{% block content %}
    <div class="container-fluid">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{% url 'element_list' %}">My Elements</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'history' user.login element.name %}">{{ element.name }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <h4 class="">Edit {{ element.type|title }} Element</h4>

                <form method="POST">
                    {% csrf_token %}

                    {% include 'elements/user_element_form.html' %}

                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary form-control" name="action" value="update">Save
                        </button>
                    </div>

                    {% include 'elements/delete_element_button.html' %}

                </form>

                <h4 class="mt-5">API URL</h4>
                <div class="text-secondary">
                        http://registry.tspoon.ru:8000/api/{{ user.login }}/elements/{{ element.name }}/<br>
                        http://registry.tspoon.ru:8000/api/{{ user.login }}/elements/{{ element.name }}/history/
                </div>

            </div>


            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
{% endblock %}
