{% extends 'base.html' %}
{% block title %}My Elements{% endblock %}
{% block content %}
<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">My Elements</li>
        </ol>
    </nav>

    <form method="GET" class="form-inline mb-3">
        {{ form.name }}
        {{ form.type }}

        <button type="submit" class="btn btn-secondary form-control mb-2 mr-sm-2" name="action" value="filter">Filter</button>

    </form>

    <h2>Elements
    <a href="{% url 'create_element' %}" class="btn btn-sm btn-primary float-right">
        <i class="fa fa-plus"></i> New Element
    </a>
    </h2>

    <table class="table table-borderless table-hover table-sm">
        <tbody>

        {% for element in user_elements %}
        <tr>
            <td class="pl-3">
                <a href="{% url 'history' user.login element.name %}"><strong>{{ element.name }}</strong></a>
                <span class="text-muted">| {{ element.type }}</span>
                {% if element.description %}
                    <p class="mb-0 text-secondary"><small>{{ element.description }}</small></p>
                {% endif %}
            </td>

            <td>
                <small>
                {% if element.is_public %}
                    <b class="text-success">Public</b>
                {% else %}
                    <b class="text-danger">Private</b>
                {% endif %}
            </small>
            </td>

            <td class="text-right pr-2">

                <a href="/elements/{{ element.name }}/edit/"><i class="fa fa-edit"></i></a>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-secondary text-center">
                No elements. <a href="{% url 'create_element' %}">Create!</a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}