{% extends 'base.html' %}

{% block title %}{{ element.name }} history {% endblock %}

{% block content %}
<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>

            {% if element.user == user %}
            <li class="breadcrumb-item"><a href="{% url 'element_list' %}">My Elements</a></li>
            {% else %}
            <li class="breadcrumb-item active">Shared elements</li>
            {% endif %}

            <li class="breadcrumb-item active" aria-current="page">{{ element.name }}</li>
            <li class="breadcrumb-item active" aria-current="page">History</li>
        </ol>
    </nav>

    <div class="row">

        <div class="col">
            <h2>{{ element.name }}</h2>
        </div>

        <div class="col text-right text-secondary">
            {% if element.user == user %}
            Your element
            {% else %}
            {{ element.user.login }}'s element
            {% endif %}
        </div>

    </div>

    <div class="text-secondary mb-3">
        <i>{{ element.description|default:'' }}</i>
    </div>

    {% with history=page_objects %}

    {% if element.type == 'number' %}
    {% include 'elements/views/number.html' %}

    {% elif element.type == 'text' %}
    {% include 'elements/views/text.html' %}

    {% elif element.type == 'gps' %}
    {% include 'elements/views/gps.html' %}

    {% else %}
    {% include 'elements/views/default.html' %}

    {% endif %}

    {% endwith %}

    {% include 'paginator.html' %}

</div>

{% endblock %}
