<div class="form-group {% if form.name.errors %}has-error{% endif %}">
    {{ form.name }}
    {% if form.name.errors %}
    <ul class="list-unstyled">
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="form-group {% if form.type.errors %}has-error{% endif %}">
    {{ form.type }}
    {% if form.type.errors %}
    <ul class="list-unstyled">
        {% for error in form.type.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="form-group {% if form.description.errors %}has-error{% endif %}">
    {{ form.description }}
    {% if form.description.errors %}
    <ul class="list-unstyled">
        {% for error in form.description.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="form-group {% if form.is_public.errors %}has-error{% endif %}">
    {{ form.is_public }}
    <label for="id_is_public">Public</label>
    {% if form.is_public.errors %}
    <ul class="list-unstyled">
        {% for error in form.is_public.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
