<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_value_modal">
    <i class="fa fa-plus"></i> Add value
</button>

<form method="post">
{% csrf_token %}
    <!-- Modal -->
    <div class="modal fade" id="add_value_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add value</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group pr-2 {% if form.value.errors %}has-error{% endif %}">
                        {{ form.value }}
                        {% if form.value.errors %}
                            <ul class="list-unstyled">
                                {% for error in form.value.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="form-group pr-2 {% if form.comment.errors %}has-error{% endif %}">
                        {{ form.comment }}
                        {% if form.comment.errors %}
                            <ul class="list-unstyled">
                                {% for error in form.comment.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" value="{{ element.pk }}" name="element_id">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="action" value="add_value">Add value</button>
                </div>
            </div>
        </div>
    </div>
</form>
