{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" crossorigin="anonymous">

    <!-- Custom App Styles -->
    <link rel="stylesheet" href="{% static 'css/master.css' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

    <title>{% block title %}Some page{% endblock %} | Registry</title>
  </head>
  <body>

    {% include 'navbar.html' %}

    {% include 'messages.html' %}

    {% block content %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

  </body>
</html>
