{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <title>Login | Registry</title>
</head>
<body>


<div class="container">

    <div class="row mt-5">

        <div class="col-md-4"></div>

        <div class="col-md-4 text-center">
            
            <img style="width: 20%;" class="mb-4" src="{% static 'img/square_logo.png' %}">

            <h3 class="mb-4">Please, log in</h3>

            <form method="POST">

                {% csrf_token %}

                <div class="form-group">
                    <input type="text" name="username" class="form-control form-control-lg" id="id_login" placeholder="Enter your login">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control form-control-lg" placeholder="Password">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control">Log in!</button>
                </div>
            </form>
        </div>

        <div class="col-md-4"></div>

    </div>

</div>

</body>
</html>