{% if messages %}
{% for message in messages %}
<div class="container-fluid">
    <div class="{% if message.tags %}{{ message.tags }}{% endif %} alert alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endfor %}
{% endif %}
