{% if paginator.num_pages > 1 %}
    <div class="float-right">
        <nav>
            <ul class="pagination">

                {% if page_objects.has_previous %}
                    <li class="page-item">
                        <a href="?page=1" class="page-link {% if not page_objects.has_previous %}disabled{% endif %}">First </a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_objects.previous_page_number }}" class="page-link">Prev</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a href="?page=1" class="page-link">First</a>
                    </li>
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Prev</a>
                    </li>

                {% endif %}

                <li class="page-item disabled">
                    <a href="#" class="page-link">{{ page_objects.number }} of {{ paginator.num_pages }}</a>
                </li>

                {% if page_objects.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_objects.next_page_number }}" class="page-link">Next</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_objects.paginator.num_pages }}" class="page-link">Last</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Next</a>
                    </li>
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Last</a>
                    </li>

                {% endif %}

            </ul>

    </div>
{% endif %}
