<table class="table table-sm">
    {% for value in history %}
        <tr>
            <td>
                <small class="float-right text-secondary">{{ value.created|date:'Y-m-d H:i:s' }}</small>

                <code> {{ value.data }}</code>
                {% if value.comment %}<br><small class="text-secondary">{{ value.comment }}</small>{% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-muted text-center">
                No values
            </td>
        </tr>
    {% endfor %}
</table>
