{% if history %}
<div id="map" style="width: 100%; height: 400px;" class="mb-4"></div>

<script type="text/javascript">
    ymaps.ready(init);
    function init() {
        var myMap = new ymaps.Map("map", {
            center: [{{ history.0.latitude }}, {{ history.0.longitude }}],
            zoom: 13
        });

        {% for value in history %}
            myMap.geoObjects.add(
                new ymaps.Placemark(
                    [{{ value.latitude }}, {{ value.longitude }}],
                    {
                        balloonContent: "<b>{{ value.comment|linebreaksbr }}</b><br><small>{{ value.created|date:'Y-m-d H:i' }}</small>",
                        iconCaption: "{{ value.comment|truncatechars:22 }}"
                    }
                )
            );
        {% endfor %}

    }
</script>

{% endif %}


<div class="row">
    <div class="col-md-12">
        {% include 'paginator.html' %}
    </div>
</div>

<div class="row mb-3">

    <div class="col">
        <h4>Values</h4>
    </div>

    <div class="col text-right">
        {% include 'elements/views/add_value_modals/gps.html' %}
    </div>

</div>

<table class="table table-sm">
    {% for value in history %}
        <tr>
            <td>
                <small class="float-right text-secondary">{{ value.created|date:'Y-m-d H:i:s' }}</small>
                [{{ value.latitude }}, {{ value.longitude }}]
                {% if value.comment %}<br><small class="text-secondary">{{ value.comment }}</small>{% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-muted text-center">
                No values
            </td>
        </tr>
    {% endfor %}
</table>
