{% if history.object_list.count > 4 %}
<canvas id="examChart" height="100px" class="mb-4"></canvas>
<script>
    var values = [
        {% for l in history %}
            {
                date: "{{ l.created|date:'Y-m-d H:i:s' }}",
                value: {{ l.value }}
            },
        {% endfor %}
    ];

    var data_line = [];
    var labels = [];

    i = 0;
    for (i = 0; i < values.length; i++) {
        var ms = Date.parse("January 26, 2011 13:51:50");
        labels[i] = values[i].date;
        data_line[i] = []
        data_line['t'] = values[i].date;
        data_line[i]['y'] = values[i].value;
    }

    var timeFormat = 'MM/DD/YYYY HH:mm';

    var ctx = document.getElementById("examChart").getContext("2d");

    var myChart = new Chart(ctx, {
        type: 'line',

        data: {
            labels: labels.reverse(),
            datasets: [{
                data: data_line.reverse(),
                borderWidth: 1
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: "YYYY-MM-DD HH:mm",
                        tooltipFormat: 'YYYY-MM-DD HH:mm'
                    },
                    scaleLabel: {
                        display: false,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: false,
                        labelString: 'value'
                    }
                }]
            },
        }

    });
</script>
{% endif %}

<div class="row">
    <div class="col-md-12">
        {% include 'paginator.html' %}
    </div>
</div>

<div class="row mb-3">

    <div class="col">
        <h4>Values</h4>
    </div>

    <div class="col text-right">
        {% include 'elements/views/add_value_modals/number.html' %}
    </div>

</div>


<table class="table table-sm">
    {% for value in history %}
        <tr>
            <td>
                <small class="float-right text-secondary">{{ value.created|date:'Y-m-d H:i:s' }}</small>
                {{ value.value }}
                {% if value.comment %}<br><small class="text-secondary">{{ value.comment }}</small>{% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td class="text-secondary text-center">No data</td>
        </tr>
    {% endfor %}
</table>
