<div class="row">
    <div class="col-md-12">
        {% include 'paginator.html' %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% include 'paginator.html' %}
    </div>
</div>

<div class="row mb-3">

    <div class="col">
        <h2>Values</h2>
    </div>

    <div class="col text-right">
        {% include 'elements/views/add_value_modals/number.html' %}
    </div>

</div>

<table class="table table-sm">
    {% for value in history %}
        <tr>
            <td>
                <small class="float-right text-secondary">{{ value.created|date:'Y-m-d H:i:s' }}</small>
                {{ value.value }}
                {% if value.comment %}<br>
                    <small class="text-secondary">{{ value.comment }}</small>{% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-secondary text-center">
                No values yet
            </td>
        </tr>

    {% endfor %}
</table>
